.custom-scroll-modal .modal-content .modal-footer {
    justify-content: center;
}

.modal-fullheight {
    height: 100%;
}

.modal-fullheight .modal-content {
    height: 100%;
}

.modal-dialog .modal-content .modal-header {
    background-color: var(--bg-color);
}

.custom-loading-modal {
    background-color: black;
    opacity: .5;
    width: 100%;
}

.custom-loading-modal .modal-content .modal-body {
    background-color: black;
    width: 100%;

}